@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color:#9DBF21;
}

header {
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 30px 60px 30px 60px;
}
header .wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 60px;
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.navbar ul a {
  all: unset;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}
.navbar ul a:hover {
  color: #111111;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}
.close-nav button {
  all: unset;
  background: #f7f7f7;
  font-size: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 3px;
  color: #444444;
}
.close-nav button:hover {
  color: #222222;
  background: white;
}

.menu-bar button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  height: 50px;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}
.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}
.menu-bar i::after {
  display: block;
  content: "";
  border-top: 3px solid #444444;
  margin: 6px 0;
}
.menu-bar button:hover {
  background: white;
}
.menu-bar button:hover i {
  border-color: #222222;
}

.container {
  display: flex;
  gap: 20px;
}

.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.banner-slider {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: relative;
}

.banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(53, 53, 53, 0.792);
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner-slide.active {
  opacity: 1;
}

.banner-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.banner h1 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}

.banner h4 {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
}

.left-section {
  flex: 1;
  padding: 30px 60px 30px 60px;
}

.left-section p {
  font-style: italic;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-picture img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-picture {
  margin-right: 10px;
}

.profile-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
}

.profile-description {
  font-size: 15px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 5px;
}

.right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 30px 60px 30px 60px;
}

.img-container {
  height: 80%;
  width: 100%;
}

img {
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
}

form {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
select,
option {
  border-radius: 5px;
  border: solid 1px;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  border-radius: 5px;
  background-color: #808080;
  width: 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #545454;
}

.coupon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0 20px 0 20px;
}

.coupon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.coupon-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.coupon-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.coupon-description {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.claim-button {
  border-radius: 5px;
  background-color: #808080;
  width: 100%;
  color: white;
  border: none;
  padding: 5px 10px;
}

.claim-button:hover{
  background-color: #545454;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 20px 20px 20px;
}

.feature {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}

.feature-icon img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.feature-content {
  margin-left: 20px;
}

.feature-name {
  font-size: 18px;
  margin-bottom: 5px;
}

.feature-description {
  font-size: 14px;
  color: #888;
}

.custom-button {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
  background-color: #808080;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #545454;
}

.custom-button:focus {
  outline: none;
}

.footer{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer img{
  width: 100%;
  max-width: 60px;
}

.footer h6{
  font-family: "Open Sans", sans-serif;
  color: #222222;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .right-section {
    margin-top: 20px;
  }

  .banner h1 {
    font-size: 20px;
  }

  .banner h4 {
    font-size: 15px;
  }

  .banner-caption {
    font-size: 25px;
  }

  .feature-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

}

@media (min-width: 550px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }

  .banner h1 {
    font-size: 30px;
  }

  .banner h4 {
    font-family: "Open Sans", sans-serif;
  }

  
}